<footer class="py-2">
  <div
    class="flex w-full flex-wrap items-center justify-center gap-6 px-2 md:justify-between">
    <p
      class="block antialiased font-sans text-sm leading-normal font-normal text-inherit">
      © 2025, hecho por <a href="https://github.com/jedahee" target="_blank"
        class="transition-colors hover:text-blue-500">jedahee</a> y <a href="https://github.com/rudahee" target="_blank"
          class="transition-colors hover:text-blue-500">rudahee</a> para la gestión de cuentas.</p>
    <ul class="flex items-center gap-4">
      <li>
        <a href="https://www.creative-tim.com/license" target="_blank"
          class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">License</a>
      </li>
    </ul>
  </div>
</footer>
